@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

.error-msg {
  width: 100%;
  padding: 4px;
  border-radius: 50px;
  position: absolute;
  background-color: #FFD2D2;
  color: #FF2400;
  font-size: 14px;
}

.error-msg::after {
  content: "\f057";
  font-family: "fontAwesome";
  padding: 0 10px;
  cursor: pointer;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 79.4%; 
  margin: 0 auto;
}

/*=================================
Header styling starts here
=================================*/
header { background-color: #1E202B; }
.logo{ padding-right: 6.5%;}
.logo-container p {font-size: 9px;}
.navbar { flex-basis: 51%;}
.nav-links li a:hover { transition: all .4s ease-in; }
.hamburger {display: none;}
.nav-links li {margin: 0 5px;}
header .wrapper {
  padding: 40px 0 45px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  padding-top: 4px;
  display: flex;
  flex-basis: 19%;
  color: #676973;
}

.company-info h3 a { 
  color: #FFF; 
  white-space: nowrap;
}

.company-info h3 { 
  padding: 3px 0 8px;
  font-size: 13px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.bar {
  display: inline-block;
  text-indent: -9999px;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* Banner styling starts here */
.banner {
  padding: 62px 0 197px;
  background: url('/weather_4day/assets/images/banner.png');
}

.input-container {
  width: 100%;
  position: relative;
}

.find-btn {
  padding: 13px 36px;
  position: absolute;
  bottom: 10.2%;
  right: -7px;
  border: none;
  border-radius: 50px;
  color: #FFF;
  background-color: #389AD8;
  font-size: 12px;
}

.subscribe-btn:hover,
.find-btn:hover {
  color: #389AD8;
  background-color: #EEE;
  transition: .4s ease-in;
}

#city_field { 
  padding-left: 10px;
  width: 100%;
  height: 47px;
  border: none;
  border-radius: 50px;
  background-color: #1E202B;
  color: #EEE;
}

input:focus { outline: none;}

::placeholder {
  margin: 5px;
  font-size: 13px;
}

.banner{position: relative;}
.hide { display: none;}
.weather-container img { width: 80px;}
.icons-container { padding-bottom: 8px; }
.additional-info img { width: inherit;}

.additional-info { 
  padding-bottom: 25px;
  display: flex;
}

.wind-container,
.compass-container {
  padding-left: 5%;
}

.weather-container { 
  position: absolute;
  width: 39%;
  border-radius: 5px;
  top: 57.5%;
  left: 0;
  right: 0;
  margin: auto
}

.weather-info { 
  padding-left: 20px; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #323544;
}

.current-day {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #2D303D;
}

.current-day p { 
  padding: 9px 1%;
  color: #BCBEC5;
}

.city { 
  padding-top: 27px;
  color: #BFC1C8; 
  font-size: 19px;
}

.temperature-icon { 
  display: flex; 
  align-items: center;
}

.temp { 
  padding-right: 5.3%;
  color: #FFF;
  font-size: 80px;
  font-weight: 700;
}

.temperature-icon,
.additional-info {
  padding: 11px 0;
}


.humidity-container,
.wind-container,
.compass-container {
  display: flex;
}


.wind,
.humidity,
.compass { 
  padding-left: 6%; 
  color: #7F818B;
  font-size: 12px;
  align-self: center;
}

.additional-info figure { align-self: center;}

/* Banner styling ends here */

/* live camera section styling starts here */
.live-camera {
  padding: 237px 0 100px;
  background-color: #1E202B;
  padding-top: 237px;
}

.live-camera .wrapper h1 {
  color: #FBFBFB;
  font-size: 30px;
}

.cards {
  display: flex;
  margin: -32px 0 0 -32px;
}

.card-item { 
  margin: 32px 0 0 32px; 
  position: relative;
}

.card-img {
  max-width: 244px;
  max-height: 164px;
}

.card-img img { border-radius: 5px;}

.modal-btn {
  border: none;
  background: transparent;
  position: absolute;
  top: 36.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.card-content h3 { 
  padding: 20px 0 10px;
  color: #FFF;
  font-size: 15px;
}

.card-content p {
  font-size: 11px;
  color: #7A7C86;
}
/* live camera section styling ends here */

/*placeholder section styling starts here */

.placeholder { background-color: #262936; }
.placeholder-content p:last-of-type { padding: 21px 0 8px; }
.placeholder-content figure img { width: inherit;}

.placeholder-rows { 
  display: flex; 
  margin: -28px 0 0 -28px;
}

.placeholder-item { 
  flex-basis: 30%;
  padding: 62px 0;
  display: flex;
  margin: 28px 0 0 28px;
}

.blue-txt{
  padding-right: 10%;
  font-size: 21px;
  color: #389AD8;
}


.small-txt {
  color: #868991;
  font-size: 13px;
}

.bold-text,
.placeholder-content .bold-text { 
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 900;
}
/*placeholder section styling ends here */

/*features section styling starts here */
.features {
  padding: 63px 0;
  background-color: #1E202B;
}

.features-flex { 
  display: flex; 
  justify-content: space-between;
  margin: -27px 0 0 -27px;
}

.application-feature-item figure { padding-right: 5%;}

.application-features,
.weather-analysis,
.awesome-photos {
  flex-basis: 33%;
  margin: 27px 0 0 27px;
}

.awesome-photos { flex-basis: 35%;}

.awesome-gallery,
.weather-item,
.application-feature-item { 
  display: flex;
  align-items: baseline;
}

.awesome-gallery {
  padding-top: 6px;
  margin: -10px 0 0 -10px;
  flex-wrap: wrap;
}

.awesome-gallery-item {
  max-width: 105px;
  max-height: 75px;
  margin: 10px 0 0 10px;
}

.weather-analysis figure img,
.application-feature-item figure img { width: inherit;}
.app-info .small-txt { padding: 17px 0 13px; }
.weather-item figure { padding-right: 2%;}
.weather-item:last-child { border-bottom: none; }

.feature-h1 {
  padding-bottom: 15px;
  color: #FCFCFC;
  font-size: 31px;
}

.weather-post {
  font-size: 13px;
  color: #C2C3C6;
}

.bold-text:hover,
.weather-post:hover {
  color: #389AD8;
}

.weather-item { 
  padding: 9px 0;
  border-bottom: 1px solid #2F313B;
}
/*placeholder section styling ends here */

/* Styling for photos page */
body {
  background-color: #1E202B;
}


/* link section styling starts here*/
.links {
  padding: 17px 25px;
  border-radius: 50px;
  background-color: #262936;
  color: #FFF;
  font-size: 12px;
}

.links li a { color: #A7A9B2;}
.links li a:hover { color: #389AD8;}
.links li {padding: 0 2px;}
/* link section styling ends here*/

/* photos section styling starts here*/
.photos { padding: 62px 0 86px; }

.photo-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.photo-card-item {
  max-width: 490px;
  border-radius: 10px;
  display: flex;
  background-color: #262936;
}

.photo-card-img { max-width: 246px; }
.photo-card-content { padding: 17px 0 0 3.5% }
.ratings { display: flex;} 
.star { text-indent: -9999px; }
.star.active::after { color: #1E202B;}

.photo-card-content h3 { 
  color: #FFF;
  font-size: 14px;
}

.photo-card-content p {
  padding-top: 10px;
  color: #7A7C86;
  font-size: 13px;
  line-height: 18px;
}

.star::after {
  content: "\f005";
  padding-top: 8px;
  color: #389AD8;
  font-size: 12px;
  font-family: "fontAwesome";
  float: right;
  text-indent: 0;
}

.photo-card-img img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* photos section styling ends here*/
.hidden {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 47px 0 62px;
  background-color: #262936;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe { flex-basis: 63.5%;}
.social-links { padding-right: 9.2%;}

.email-container { 
  width: 98.5%;
  position: relative;
}


.subscribe-btn { 
  padding: 14px 21px;
  border: none;
  border-radius: 50px;
  position: absolute;
  right: -5px;
  bottom: 10%;
  color: #FFF;
  background-color: #389AD8;
  font-size: 12px;
}

#email {
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #1E202B;
  color: #EEE;
}

.social-links li a { 
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #1E202B;
  text-align: center;
  text-indent: -9999px; 
}

.facebook::after { content: "\f39e"; }
.twitter::after {content: "\f099";}
.google::after {content: "\f0d5";}
.pintrest::after {content: "\f0d2";}
.social-links li a:hover::after { color: #FFF;}

.facebook::after,
.twitter::after,
.google::after,
.pintrest::after {
  width: 100%;
  height: 100%;
  padding-top: 30%;
  color: #389AD8;
  font-family: "fontAwesome";
  font-size: 15px;
  float: right;
  text-indent: 0;
  transition: .4s ease-in;
}

.social-links li a:hover {
  background-color: #389AD8;
  transition: .4s ease-in;
}

footer .wrapper p {
  padding-top: 31px;
  color: #92949D;
  font-size: 13px;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1333px starts here*/
@media only screen and (max-width: 1333px){
  .wrapper {
    max-width: 1024px;
    width: 95%;
  }
}

/*media query for 1120px starts here*/
@media only screen and (max-width:1120px){
  .photo-card-item {max-width: 420px;}
  .photo-card-content { padding: 17px 3.5%; }

  .photo-card-img img { 
    width: 195px;
    height: 153px;
  }
}

/*media query for 1099px starts here*/
@media only screen and (max-width:1099px){
  .navbar {flex-basis: 70%;}
}

/*media query for 1187px starts here*/
@media only screen and (max-width: 1187px){
  .logo-container { flex-basis: 26%;}
  .awesome-photos { flex-basis: 50%;}

  .feature-h1 {
    padding-bottom: 15px;
    color: #FCFCFC;
    font-size: 26px;
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .temperature-icon {
    align-items: flex-start;
    flex-direction: column;
  }

  .live-camera .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cards{
    width: 66%;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card-item { 
    margin: 0;
    flex-basis: 42%;
  }

  .modal-btn { top: 30.4%; }
  .card-content { padding: 10px 0 30px;}
  .awesome-gallery { max-width: 52%;}
  .features-flex { flex-direction: column; }
  .application-feature-item figure { padding-right: 1%; }

  .photo-cards {
    flex-direction: column;
    align-items: center;
  }

  .photo-card-item {
    width: 308px;
    height: 286px;
  }

  .photo-card-item figure,
  .photo-card-item .photo-card-content { width: 50%;}

  .photo-card-item figure img { 
    height: 286px;
    width: 154px;
  }

  .photo-card-content p { font-size: 15px;}
  .photo-card-content h3 { font-size: 16px;}

  .photo-card-content {
    padding-right: 50px;
  }
}

/*media query for 767px starts here*/
@media screen and (max-width: 767px) {
  .hamburger.active { border-color: #389AD8; }
  .navbar.show { display: block;}
  .bar.active { color: #389AD8;}
  .hamburger .bar:nth-child(1) { margin-top: 43.5%;}
  .weather-container { min-width: 306px;}
  .input-container { width: 97%; }

  .wrapper {
    max-width: 767px;
    width: 96%;
  }

  header .wrapper {
    padding: 10px 0 33px;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo-container { flex-basis: 30%;}
  .bar.active { background-color: #389AD8; }

  .hamburger {
    height: 60px;
    width: 57px;
    border: 3px solid transparent;
    border-radius: 47%;
    display: block;
    cursor: pointer;
  }

  .hamburger:hover{
    border-color: #389AD8;
    transition: .4s ease-in;
  }

  .hamburger:hover .bar { 
    background-color: #389AD8;
    transition: .4s ease-in;
  }

  .bar {
    width: 12px;
    height: 2px;
    margin: 2px auto;
    display: block;
    background-color: #FFF;
    transition: all 0.3s ease-in-out;
  }

  .navbar {
    margin: 30px 0 17px;
    border-radius: 10px;
    display: none;
    flex-basis: 100%;
    background-color: #323544;
    text-align: center;
  }
  
  .nav-links {
    width: 100%;
    flex-direction: column;
  }
  
  .nav-links li { border-bottom: 1px solid #3C3F4B; }
  .nav-links li:last-child {border-bottom: none;}
  .nav-links li a.active { color: #389AD8; }
  .nav-links li a { 
    padding: 20px 15px; 
    color: #FFF;
    font-size: 14px;
  }
  
  
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-content { padding: 27px 0 4px;}
  .modal-btn { top: 33.3%; }
  .live-camera { padding-top: 240px}
  
  .live-camera .wrapper h1 { 
    padding-bottom: 23px;
    text-align: center;
  }
  
  .placeholder-rows { 
    margin: 0;
    flex-direction: column; 
  }
  
  .placeholder-item {
    margin: 0;
    padding: 15px 0;
  }
  
  .blue-txt{ padding-right: 4%; }
  .awesome-gallery { max-width: 55%;}
  .placeholder {padding: 15px 0;}
  .social-links { padding-top: 30px;}

  .footer-flex { 
    flex-direction: column; 
    align-items: unset;
  }

}

/*media query for 680 starts here*/
@media only screen and (max-width: 680px) {
  .logo-container { flex-basis: 60%; }
  .logo { padding-right: 3%;}
  .company-info { flex-basis: 60%;}
  .awesome-gallery { max-width: 70%;}
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px){
  .awesome-gallery { max-width: 80%;}
}

/*media query for 460px starts here*/
@media only screen and (max-width: 460px){
  .awesome-gallery { max-width: 100%;}
}

/*media query for 36px starts here*/
@media only screen and (max-width: 365px){
  .awesome-gallery-item{ max-width: 92px;}
}

/* media query for giving links hover effect over 767px */
@media only screen and (min-width: 767px){
  .nav-links li a {
    padding: 5px 22px;
    border : 2px solid #1E202B;
    border-radius: 50px;
    color: #FFF;
    font-size: 13px;
    white-space: nowrap;
  }
  
  .nav-links li a:hover,
  .nav-links li a.active {
    border : 2px solid #389AD8;
    color: #389AD8;
  }
}