@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 79.4%; 
  margin: 0 auto;
}

/*=================================
Header styling starts here
=================================*/
header { background-color: #1E202B; }
.logo{ padding-right: 6.5%;}
.logo-container p {font-size: 9px;}
.navbar { flex-basis: 47.5%;}
.nav-links li a:hover { transition: all .4s ease-in; }
.hamburger {display: none;}

header .wrapper {
  padding: 40px 0 45px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  padding-top: 4px;
  display: flex;
  flex-basis: 17%;
  color: #FFF;
}

.logo-container h3 { 
  font-size: 13px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links li a {
  padding: 5px 22px;
  border : 2px solid #1E202B;
  border-radius: 50px;
  color: #FFF;
  font-size: 13px;
}

.nav-links li a:hover,
.nav-links li a.active {
  border : 2px solid #389AD8;
  color: #389AD8;
}

.bar {
  display: inline-block;
  text-indent: -9999px;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.banner {
  padding: 62px 0 197px;
  background: url(/assets/images/banner.png);
}

.input-container {
  width: 100%;
  position: relative;
}

.find-btn {
  padding: 13px 36px;
  position: absolute;
  bottom: 11%;
  right: 0.5%;
  border: none;
  border-radius: 50px;
  color: #FFF;
  background-color: #389AD8;
  font-size: 12px;
}

.find-btn:hover {
  color: #389AD8;
  background-color: #EEE;
  transition: .4s ease-in;
}

#city_field { 
  line-height: normal;
  width: 99.7%;
  height: 47px;
  border: none;
  border-radius: 50px;
  background-color: #1E202B;
}

::placeholder {
  padding-left: 16px;
  font-size: 13px;
}

.banner{position: relative;}
.hide { display: none;}
.weather-container img { width: 80px;}
.icons-container { padding-bottom: 8px; }
.additional-info { padding-bottom: 25px;}
.additional-info img { width: inherit;}
.additional-info { display: flex;}
.compass-container { padding-left: 1%; }

.weather-container { 
  position: absolute;
  width: 39%;
  border-radius: 5px;
  top: 57.5%;
  left: 0;
  right: 0;
  margin: auto
}

.weather-info { 
  padding-left: 20px; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #323544;
}
.current-day {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #2D303D;
}
.current-day p { 
  padding: 9px 1%;
  color: #BCBEC5;
}

.city { 
  padding-top: 27px;
  color: #BFC1C8; 
  font-size: 19px;
}


.temperature-icon { 
  display: flex; 
  align-items: center;
}

.temp { 
  padding-right: 5.3%;
  color: #FFF;
  font-size: 80px;
  font-weight: 700;
}

.temperature-icon,
.additional-info {
  padding: 11px 0;
}


.humidity-container,
.wind-container,
.compass-container {
  display: flex;
}

.wind,
.humidity,
.compass { 
  padding-left: 6%; 
  color: #7F818B;
  font-size: 12px;
}

.wind-container {
  padding-left: 4.5%;
  flex-basis: 16%;
}

.live-camera {
  margin-top: 18.5%;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  